@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        @if (!Model.IsLoggedIn) {
        <form method="post" asp-page-handler="login">
            <button type="submit" id="submit" style="margin: 5px 0 0 0;">Login</button>
        </form>
        }
        
        <form method="post" asp-page-handler="quiz">
            <button type="submit" id="quiz" style="margin: 5px 0 0 0;">Next quiz question</button>
        </form>

        <form method="post" asp-page-handler="repeat">
            <button type="submit" id="repeat" style="margin: 5px 0 0 0;">Repeat quiz question</button>
        </form>
    </div>
</div>