@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Authorize</h1>
        <form method="post">
            <button type="submit">Get token</button>
        </form>
    </div>
</div>
