@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Authorize</h1>
        <form method="post">
            @Html.TextAreaFor(model => model.Token)
            <button type="submit" id="submit">Get token</button>
        </form>

        <script type="text/javascript">
            if (document.getElementById('Token').value == '') {
                document.getElementById('submit').click();
            }
        </script>
    </div>
</div>
