name: BuildAndRelease

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ main ]
    paths-ignore:
    - 'readme.md'

env:
  AZURE_WEBAPP_NAME: spotty
  AZURE_WEBAPP_PACKAGE_PATH: '.'   
  DOTNET_VERSION: '7.x'           
  AZURE_RESOURCEGROUP_NAME: rg-spotty 
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

      # Checkout the repo
      - uses: actions/checkout@main
      
      # Login to Azure
      #- uses: azure/login@v1
      #  with:
      #    creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Deploy infra as code

      # Setup .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }} 
      
      # Run dotnet build and publish a Docker image
      - name: dotnet build and publish
        run: |
          dotnet build --configuration Release
          dotnet publish --configuration Release --output Spotty --no-restore --os linux --arch x64 -p:PublishProfile=DefaultContainer

      # Retag Docker image

      # Push to registry
          
      # Deploy to Azure Web App